
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    background: #eee;
  }
  .h5 {
    margin-bottom: 30px;
  }
  .container {
    width: 80%;
    margin: 20px auto;
  }
  .carousel {
    background: #fff;
    border: 2px solid #010506;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  
    position: relative;
  }
  .slider {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 0.5s;
  
  }
  section {
    flex-basis: 20%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .controls button.next {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #010506;
  }
  .controls button.prev {
    position: absolute;
    left: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #010506;
  }
  .controls button i {
    font-size: 50px;
  }
  section img{
    max-width: 100%;
    height: auto;
  }